{% load render_bundle from webpack_loader %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    {% render_bundle 'main' 'css' %}
</head>
<body>

<div id="demo"></div>

<!-- {% csrf_token %} -->
{% render_bundle 'main' 'js' %}
</body>
</html>